In [ ]:
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
df=pd.read_csv("training_data.csv")

In [ ]:
df_corr=df[['Date','Tenor']]

In [ ]:
k=df.loc[:,['0.1', '0.2', '0.3', '0.4', '0.5', '0.6', '0.7', '0.8',
       '0.9', '1', '1.1', '1.2', '1.3', '1.4', '1.5', '1.6', '1.7', '1.8',
       '1.9']]
k

            0.1       0.2       0.3  ...       1.7       1.8       1.9
0      0.468214  0.419251  0.376260  ...  0.309045  0.321260  0.332831
1      0.458471  0.412710  0.372717  ...  0.298654  0.309196  0.319254
2      0.410305  0.374189  0.343045  ...  0.266312  0.272831  0.279207
3      0.385267  0.354580  0.328360  ...  0.249397  0.253564  0.257773
4      0.358986  0.333608  0.312126  ...  0.234052  0.236049  0.238213
...         ...       ...       ...  ...       ...       ...       ...
13637  0.290467  0.274071  0.259819  ...  0.165119  0.162481  0.160172
13638  0.279726  0.263635  0.249695  ...  0.158642  0.156194  0.154063
13639  0.275693  0.259711  0.245916  ...  0.156900  0.154517  0.152440
13640  0.271637  0.256054  0.242648  ...  0.156861  0.154518  0.152458
13641  0.266593  0.251865  0.239246  ...  0.158050  0.155624  0.153441

[13642 rows x 19 columns]

In [ ]:
#for i in range(19,len(df),19):
data=k.loc[df['Tenor']=='2M']
data

            0.1       0.2       0.3  ...       1.7       1.8       1.9
0      0.468214  0.419251  0.376260  ...  0.309045  0.321260  0.332831
19     0.468220  0.418810  0.375384  ...  0.309133  0.321638  0.333471
38     0.468419  0.419788  0.377046  ...  0.310929  0.323150  0.334733
57     0.471292  0.422782  0.380192  ...  0.313285  0.325315  0.336729
76     0.468138  0.419851  0.377444  ...  0.310490  0.322484  0.333863
...         ...       ...       ...  ...       ...       ...       ...
13547  0.643089  0.586090  0.534377  ...  0.306011  0.317426  0.328740
13566  0.642695  0.586187  0.534874  ...  0.307073  0.318374  0.329594
13585  0.636461  0.579078  0.527062  ...  0.300303  0.311974  0.323489
13604  0.642968  0.583564  0.529908  ...  0.299095  0.311058  0.322818
13623  0.646292  0.585409  0.530770  ...  0.295649  0.307232  0.318631

[718 rows x 19 columns]

In [ ]:
data.rename(columns = {'1':'1.0'}, inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
k

            0.1       0.2       0.3  ...       1.7       1.8       1.9
0      0.468214  0.419251  0.376260  ...  0.309045  0.321260  0.332831
1      0.458471  0.412710  0.372717  ...  0.298654  0.309196  0.319254
2      0.410305  0.374189  0.343045  ...  0.266312  0.272831  0.279207
3      0.385267  0.354580  0.328360  ...  0.249397  0.253564  0.257773
4      0.358986  0.333608  0.312126  ...  0.234052  0.236049  0.238213
...         ...       ...       ...  ...       ...       ...       ...
13637  0.290467  0.274071  0.259819  ...  0.165119  0.162481  0.160172
13638  0.279726  0.263635  0.249695  ...  0.158642  0.156194  0.154063
13639  0.275693  0.259711  0.245916  ...  0.156900  0.154517  0.152440
13640  0.271637  0.256054  0.242648  ...  0.156861  0.154518  0.152458
13641  0.266593  0.251865  0.239246  ...  0.158050  0.155624  0.153441

[13642 rows x 19 columns]

In [ ]:
l='l'
lst=[]
for i in range(1,17):
  p=str(i/10)
  q=str(int(i+1)/10)
  r=str(int(i+2)/10)
  temp=data.loc[:,[p,q,r]]
  lst.append(temp)

In [ ]:
model=tf.keras.Sequential([tf.keras.layers.LSTM(512,input_shape=(300,1)),
                           tf.keras.layers.Dense(128),
                           tf.keras.layers.Dense(64),
                           tf.keras.layers.Dense(32),
                           tf.keras.layers.Dense(30)])
model.summary()
model.compile(loss='mean_squared_error',optimizer='Adam',metrics=['mean_absolute_error'])

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm (LSTM)                 (None, 512)               1052672

 dense (Dense)               (None, 128)               65664

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 32)                2080

 dense_3 (Dense)             (None, 30)                990

=================================================================
Total params: 1,129,662
Trainable params: 1,129,662
Non-trainable params: 0
_________________________________________________________________

In [ ]:
m=lst[0]
mns=[]
for i in range(0,11742,190):
  L=m.loc[i:i+(99*19)].to_numpy().flatten()
  M=m.loc[i+100*19:i+109*19].to_numpy().flatten()
  mns.append([L,M])
mns=np.array(mns)
mns=mns[0:60]
for i in range(0,50):
  model.fit(np.array([mns[i][0]]),np.array([mns[i][1]]),epochs=4)

In [ ]:
tf.keras.models.save_model(model,"Test2.h5")

Refreshing temp1 starts

In [ ]:
temp1=lst[0].copy()
temp1['Predicted 0.1']=0
temp1['Predicted 0.2']=0
temp1['Predicted 0.3']=0

In [ ]:
temp1=temp1[:-100]

In [ ]:
temp1=temp1.to_numpy()
temp1=pd.DataFrame(temp1)

In [ ]:
temp1

            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
613  0.590731  0.519047  0.456600  0.0  0.0  0.0
614  0.587219  0.515670  0.453362  0.0  0.0  0.0
615  0.585090  0.514176  0.452331  0.0  0.0  0.0
616  0.597665  0.527559  0.466131  0.0  0.0  0.0
617  0.582852  0.513894  0.453579  0.0  0.0  0.0

[618 rows x 6 columns]

In [ ]:
i=0
for i in range(600,711,10):
  print(temp1)
  m=model.predict(np.array([temp1.loc[(i-100):(i-1),[0, 1, 2]].to_numpy().flatten()]))
  m=pd.DataFrame(m.reshape((10,3)))
  temp1=pd.concat([temp1,m],ignore_index=True)
temp1

            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
613  0.590731  0.519047  0.456600  0.0  0.0  0.0
614  0.587219  0.515670  0.453362  0.0  0.0  0.0
615  0.585090  0.514176  0.452331  0.0  0.0  0.0
616  0.597665  0.527559  0.466131  0.0  0.0  0.0
617  0.582852  0.513894  0.453579  0.0  0.0  0.0

[618 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
623  0.530454  0.487742  0.432906  NaN  NaN  NaN
624  0.568319  0.508620  0.434317  NaN  NaN  NaN
625  0.541517  0.477150  0.480891  NaN  NaN  NaN
626  0.572674  0.502813  0.499450  NaN  NaN  NaN
627  0.566458  0.505925  0.452374  NaN  NaN  NaN

[628 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
633  0.551382  0.507659  0.452432  NaN  NaN  NaN
634  0.593210  0.529905  0.449434  NaN  NaN  NaN
635  0.566227  0.497688  0.499099  NaN  NaN  NaN
636  0.595871  0.523997  0.520476  NaN  NaN  NaN
637  0.591811  0.527272  0.472038  NaN  NaN  NaN

[638 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
643  0.542808  0.498139  0.442996  NaN  NaN  NaN
644  0.582298  0.520054  0.442042  NaN  NaN  NaN
645  0.554362  0.488009  0.490659  NaN  NaN  NaN
646  0.585671  0.514035  0.510861  NaN  NaN  NaN
647  0.579019  0.518003  0.463040  NaN  NaN  NaN

[648 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
653  0.553639  0.509261  0.453698  NaN  NaN  NaN
654  0.595437  0.531302  0.449257  NaN  NaN  NaN
655  0.567708  0.499167  0.499791  NaN  NaN  NaN
656  0.598380  0.525868  0.522404  NaN  NaN  NaN
657  0.592591  0.529815  0.473645  NaN  NaN  NaN

[658 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
663  0.549674  0.504101  0.449014  NaN  NaN  NaN
664  0.590295  0.526770  0.447302  NaN  NaN  NaN
665  0.562108  0.494416  0.496755  NaN  NaN  NaN
666  0.592786  0.520399  0.517270  NaN  NaN  NaN
667  0.587070  0.524410  0.469216  NaN  NaN  NaN

[668 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
673  0.555036  0.510020  0.454562  NaN  NaN  NaN
674  0.596899  0.532508  0.450573  NaN  NaN  NaN
675  0.568930  0.500151  0.501130  NaN  NaN  NaN
676  0.599456  0.526687  0.523343  NaN  NaN  NaN
677  0.593894  0.530731  0.474649  NaN  NaN  NaN

[678 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
683  0.553147  0.507486  0.452279  NaN  NaN  NaN
684  0.594427  0.530323  0.449698  NaN  NaN  NaN
685  0.566214  0.497841  0.499710  NaN  NaN  NaN
686  0.596723  0.524001  0.520833  NaN  NaN  NaN
687  0.591230  0.528077  0.472501  NaN  NaN  NaN

[688 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
693  0.555926  0.510544  0.455143  NaN  NaN  NaN
694  0.597844  0.533294  0.451396  NaN  NaN  NaN
695  0.569737  0.500803  0.501977  NaN  NaN  NaN
696  0.600174  0.527250  0.523973  NaN  NaN  NaN
697  0.594751  0.531349  0.475310  NaN  NaN  NaN

[698 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
703  0.555030  0.509313  0.454040  NaN  NaN  NaN
704  0.596663  0.532247  0.450998  NaN  NaN  NaN
705  0.568431  0.499691  0.501312  NaN  NaN  NaN
706  0.598853  0.525946  0.522759  NaN  NaN  NaN
707  0.593474  0.530062  0.474277  NaN  NaN  NaN

[708 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
713  0.556475  0.510894  0.455522  NaN  NaN  NaN
714  0.598436  0.533788  0.451886  NaN  NaN  NaN
715  0.570256  0.501225  0.502492  NaN  NaN  NaN
716  0.600639  0.527625  0.524384  NaN  NaN  NaN
717  0.595298  0.531754  0.475732  NaN  NaN  NaN

[718 rows x 6 columns]
            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
723  0.556054  0.510301  0.454993  NaN  NaN  NaN
724  0.597877  0.533291  0.451710  NaN  NaN  NaN
725  0.569632  0.500692  0.502185  NaN  NaN  NaN
726  0.600006  0.526997  0.523801  NaN  NaN  NaN
727  0.594690  0.531135  0.475239  NaN  NaN  NaN

[728 rows x 6 columns]

            0         1         2    3    4    5
0    0.468214  0.419251  0.376260  0.0  0.0  0.0
1    0.468220  0.418810  0.375384  0.0  0.0  0.0
2    0.468419  0.419788  0.377046  0.0  0.0  0.0
3    0.471292  0.422782  0.380192  0.0  0.0  0.0
4    0.468138  0.419851  0.377444  0.0  0.0  0.0
..        ...       ...       ...  ...  ...  ...
733  0.556807  0.511119  0.455761  NaN  NaN  NaN
734  0.598799  0.534091  0.452175  NaN  NaN  NaN
735  0.570579  0.501488  0.502801  NaN  NaN  NaN
736  0.600932  0.527866  0.524643  NaN  NaN  NaN
737  0.595638  0.532012  0.475995  NaN  NaN  NaN

[738 rows x 6 columns]

In [ ]:
temp1.to_csv("no1.csv")

In [ ]:
lst[0].to_csv('og.csv')